<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0ymRb6jQAsgtoUnMO10-x6CjUe0PZK88">
    </script>

    <!-- Include jQuery Mobile stylesheets -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- Include the jQuery library -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include the jQuery Mobile library -->
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <body>
    <div id="map-canvas">
      <ul data-role="listview" data-inset="true">
          <li><a href="#"><img src="" alt="Nome" class="ui-li-icon ui-corner-none">France</a></li>
          <li><a href="#"><img src="" alt="Cognome" class="ui-li-icon">Germany</a></li>
          <li><a href="#"><img src="" alt="Indirizzo" class="ui-li-icon">Great Britain</a></li>
      </ul>
    </div>
    <div>
  </body>
</html>