<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0ymRb6jQAsgtoUnMO10-x6CjUe0PZK88">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 41.91214, lng: 12.47383},
          zoom: 2
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        function addMarker(location) {
          var marker = new google.maps.Marker({
              position: {lat: location.lat, lng: location.lon},
              map: map,
              title: null
          });
          var infowindow = new google.maps.InfoWindow({
              content: unescape(location.name)
          });
          
          infowindow.open(map,marker);
          
          marker.addListener('click', function() {
            //map.setZoom(8);
            //map.setCenter(marker.getPosition());
            window.location.href="https://hackatondd.herokuapp.com/detail"
          });
        }
        <% contact_locations.forEach(function(location) { %>
          addMarker(JSON.parse('<%- JSON.stringify(location) %>'));
        <% }); %>

        setTimeout(function() {
          map.setCenter({lat: 41.91214, lng: 12.47383});
        }, 800);

        map.setCenter(new google.maps.LatLng(41.91214,12.47383))
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div>
  </body>
</html>
<!--questa pagina mostra la mappa e crea i placeholder in base all'array di prima. STOP
dai cazzo!

ora modificate quattro cagate di html e js dall'alltra parte 
dobbiamo fare una navigazione + carina. 
cio+ ssull'onclicj del tooltip di google andare da un'altra parte che ti fa vedere i dettagli presi da salesforce
pero capirc
iasp
vai tutto ok?
va nbe ma se esci te lo spigo a voce

ok meglio
esco di fuoriok

-->